@import url(reset.css);

/* font */
@font-face {
  font-family: MabryPro-regular;
  src: url(../font/MabryPro-Regular.ttf);
}
@font-face {
  font-family: MabryPro-medium;
  src: url(../font/MabryPro-Medium.ttf);
}
@font-face {
  font-family: valky;
  src: url(../font/ValkyRegular.ttf);
}
/* noto sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');


body{
  /* font-size: 16px; */
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}
body.on{
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
a{
  color: #333;
  text-decoration: none;
}


@media (min-width:769px) and (max-width:1024px) {
html{
  font-size: 12px;
}
/* loader */
div.loader{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background: rgb(255,235,132);
  background: linear-gradient(0deg, rgba(255,235,132,1) 0%, rgba(127,205,237,1) 100%);
  opacity: 1;
  transition: all 0.5s ease;
}
div.loader > img{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10%;
  transform: translate(-50%,-50%);
  animation: spin 2s linear infinite;
}
@keyframes spin{
  0%{transform: translate(-50%,-50%) rotate(0deg);}
  100%{transform: translate(-50%,-50%) rotate(360deg);}
}
/* div.wrap{
  position: relative;
  width: 100%;
} */

/* 햄버거 메뉴 */
div.slide_bg{
  position: fixed;
  left: 0;
  top: 0;
}
div.slide_bg.open{
  background-color: #fff;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  z-index: 51;
}
ul.slide_gnb{ 
  display: none;
}
ul.slide_gnb.open{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  background-color: transparent;
  font-family: MabryPro-medium;
  font-size: 5.67vw;
  position:fixed;
  min-width: 360px;
  right: 0;
  top: 0;
  height: 100%;
  padding-right: 5.208vw;
  z-index: 52;
}
ul.slide_gnb.open>li>a{
  position: relative;
}
ul.slide_gnb.open>li>a::after{
  content:"";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: #4CA9F8;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(.15,.2,.1,1);
}
ul.slide_gnb.open>li:hover>a::after{
  transform:scale(1);
}
ul.slide_gnb.open>li:last-child>a::after{
  display: none;
}
ul.slide_gnb>li:last-child >a{
  text-indent: -9999px;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
ul.slide_gnb>li:last-child >a:first-of-type{
  background: url(../images/github_black.svg) no-repeat;
  margin-right: 24px;
}
ul.slide_gnb>li:last-child >a:last-of-type{
  background: url(../images/email_black.svg) no-repeat;
}

/* 햄버거 닫기 버튼 */
a.ham_close_btn{
  position: fixed;
  display: none;
  top: 5%;
  right: 5%;
  /* left: 50%; */
  width: 46px;
  height: 46px;
  border-radius: 50%;
  text-indent: -9999px;
  overflow: hidden;
  background: #4CA9F8 url(../images/ham_close_btn.svg) no-repeat center center;
  z-index: 55;
  box-shadow: 0 16px 44px rgba(0,0,0,.3);
  transition: transform 0.2s ease-in-out;
}
a.ham_close_btn.open{
  display: block;
}
a.ham_close_btn:hover{
  transform: scale(1.2);
}

/* 각 섹션에 .open이 붙으면 섹션 크기가 작아짐 */
#container>div.open{
  height: 100vh;
  transition: transform .8s cubic-bezier(.15,.2,.1,1);
  transform: scale(.835) translateX(-466px) translateZ(0);
  position: relative;
  transform-origin: center;
  overflow: hidden;
  z-index: 53;
}
/* #container > div.open::after{
  content: "";
  position: absolute;
  right: 0;
  top: 50vh;
  transform: translate(50%,-50%);
  width: 50px;
  height: 50px;
  background: url(../images/ham_close_btn.svg) no-repeat;
  background-size: cover;
  z-index: 53;
  cursor: pointer;
} */

/* header */
#header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 65px; */
  height: 7vh;
  min-height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  margin-top: 24px;
  font-family: MabryPro-medium;
  z-index: 50;
}
#header > h1{
  min-width: 100px;
}
#header>nav{
  display: none;
}

/* toplink */
div.top_link{
  height: 100%;
  display: flex;
  align-items: center;
}
div.top_link > a:nth-of-type(1){
  display:none;
}

div.top_link > a:nth-of-type(2){
  display: none;
}

/* 그라디언트 레이어 */
div.btm_gradient{
  position: absolute;
  z-index: 10;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 200vh;
  pointer-events: none;
  transition: opacity 0.3s ease;
  background-image: linear-gradient(transparent 30%, #ECE7E3 50%, #ECE7E3 52%, transparent 80%);
}

/* container */
#container{
  width: 100%;
}
#container > div {
  width: 100%;
  height: 100vh;
  transition: transform .8s cubic-bezier(.15,.2,.1,1);
}
.cont_inner{
  position: relative;
  z-index: 10;
  /* width: 72.917vw; */
  width: 700px;
  height: 100%;
  margin:0 auto;
  border: 1px solid red;
}
/* section */
#container > div > section{
  position: relative;
  width: 100%;
  height: 100vh ;
  overflow: hidden;
}
/* main */
#container > div#main{

}
#main .skyBG{
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background:url(../images/sky_panorama2.png) no-repeat 0 40%;
}
#main .skyBG.ani_on{
  animation: bgMove 190s linear infinite alternate ;
}

@keyframes bgMove {
  0%{background-position: 0%;}
  100%{background-position: 100%;}
}

#main .mountainBG{
  position:absolute;
  left: 0;
  top: 5%;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background: url(../images/mountain1.png) no-repeat;
  opacity: 0;
  background-position: center;
  background-size: cover;
}
#main .mountainBG.ani_on{
  animation: fadeIn 0.2s linear 3.2s both, slideUp 0.2s linear 3.2s both;
}
#main .fieldBG{
  position:absolute;
  left: 0;
  top: 15%;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background: url(../images/field.png) no-repeat;
  opacity: 0;
  background-position: center;
  background-size: cover;
}
#main .fieldBG.ani_on{
  animation: fadeIn 0.2s linear 3.4s both, slideUp 0.2s linear 3.4s both;
}
#main .sunflowerBG1{
  position:absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  width: 100vw;
  height: 80vh;
  opacity: 0;
  background: url(../images/sunflower_s.png) no-repeat;
  background-position: center;
  background-size: cover;
}
#main .sunflowerBG1.ani_on{
  animation: fadeIn 0.2s linear 3.6s both, slideUp 0.2s linear 3.6s both;
}
#main .sunflowerBG2{
  position:absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 100vw;
  height: 77vh;
  opacity: 0;
  background: url(../images/sunflower_L.png) no-repeat;
  background-position: center;
  background-size: cover;
}
#main .sunflowerBG2.ani_on{
  animation: fadeIn 0.2s linear 3.8s both, slideUp 0.2s linear 3.8s both;
}

#main .sunBG{
  position: absolute;
  z-index:2;
  top: 0;
  width:100vw;
  height: 100vh;
  transform: translateY(-10%);
  background: url(../images/sun2.png) no-repeat;
  background-position: center;
  background-size: cover;
}
#main .sunBG.ani_on{
  animation: itemMoveY 1s linear 4s both;
}

@keyframes itemMoveY{ 
  0%{transform: translateY(-100%);}
  100%{transform: translateY(-10%);}
}
@keyframes fadeIn{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes slideUp{
  0%{transform: translateY(10%);}
  100%{transform: translateY(0%);}
}

/* 타이틀  */
#main > section >.title_container{ 
  position: absolute;
  left: 50%;
  top: 38%;
  width: 700px;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 10;
}
.title_container>p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 8px;
  color: #fff;
  font-size: 20px;
  font-family: 'NanumSquare',sans-serif;
  font-weight: 700;
}
.title_container>p>span:first-child{
  text-shadow: 1px 1px 2px #1A5368;
  opacity: 0;
  animation: fadeIn 0.4s linear 6.2s both, slideUp 0.4s linear 5.8s both;
}
.title_container>p>span.line{
  width: 250px;
  height: 2px;
  background-color: #fff;
  text-indent: -9999px;
  animation: lineani 0.4s linear 6.6s both;
  transform-origin: left;
}
@keyframes lineani {
  0%{transform: scaleX(0);}
  100%{transform: scaleX(1);}
}
.title_container>p>span:last-child{
  text-shadow: 1px 1px 2px #1A5368;
  opacity: 0;
  animation: fadeIn 0.4s linear 7s both, slideUp 0.4s linear 7s both;
}

/* .title_container > h2{
  font-family: valky;
  font-size: 80px;
  color: #145973;
  text-shadow:  1px 1px 2px #fff;
  white-space: nowrap;
  opacity: 0;
  animation: fadeIn 1.2s linear 5s both, slideUp 0.8s linear 5s both;
} */

div.textbox{
  opacity: 0;
  animation: fadeIn 1.2s linear 5s both;
}

svg{
  display: block;
  width: 700px;
  /* width: 100%; */
  height:230px;
  border: 1px solid red;}

svg text {
        font-family: valky;
        font-size: 80px;
        /* font-size: 10.417vw; */
        fill:transparent;
        text-shadow:  1px 1px 2px #fff;
        stroke-dasharray: 326px;
        animation: stroke 0.4s linear;
        animation-fill-mode: forwards;
        animation-delay: calc(5s + 0.4s * var(--i));
    }
    @keyframes stroke {
        0%   {
            stroke:#145973;
            stroke-width: 3px;
            stroke-dashoffset: 326px;
        }
        70% {
            fill: transparent;
        }
        98% {
            stroke:#145973;
            stroke-width: 3px;
        }
        100% {
            fill: #145973;
            stroke-dashoffset: 0px;
        }
    }

/* 프로필 */
#container > div#profile{
  background: #ECE7E3;
}

#profile > section>.profileBG{
  position: relative;
  /* z-index: 1; */
  width: 100%;
  height: 100vh;
  background:url(../images/aboutBG.png) no-repeat;
  background-position: center;
}
div.page2Inner{
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  justify-content: center;
  align-items: center;
  gap: 46px;
  /* column-gap:5.208vw ; */
}
div.page2Inner> div.memoji{
  min-width: 300px;
  width:21.875vw;
}
div.page2Inner > div.intro{
  /* width: 50%; */
  width:28vw;
  min-width: 480px;
}

div.page2Inner > div.intro>p:first-of-type{
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}
div.page2Inner > div.intro>p:nth-of-type(2){
  font-size: 16px;
  font-weight:400;
  letter-spacing: -0.02em;
  line-height: 24px;
  margin-bottom: 36px;
}
ul.myskills{
  display: flex;
  justify-content: space-between;
  /* width: 520px;
  min-width: 380px; */
}
ul.myskills>li{
  font-size: 18px;
  font-family: MabryPro-medium;
}
ul.myskills>li>ul{
  font-size: 16px;
  font-family: MabryPro-regular;
  margin-top: 8px;
}
ul.myskills>li>ul>li{
  display: flex;
  align-items: center;
  line-height: 24px;
}
ul.myskills>li>ul>li>span:first-of-type{
  width:96px;
  margin-right: 24px;
}
ul.myskills span.bar{
  width: 26px;
  height: 6px;
  background-color: #fff;
  margin-right: 8px;
}
ul.myskills span.colored{
  background-color:  #83CEEA;
}

/* 텍스트 애니메이션 */
#profile span.bgText {
  font-family: MabryPro-medium;
  font-size: 12.5rem;
  display: block;
  transform: rotate(-23deg) translate(0,0);
  letter-spacing: -0.03em;
  white-space: nowrap;
}
#profile span.bgText.text2{
  display: none;
}
#profile span.text1.on {
  animation: textaniLeft 2.2s ease 0.3s both;
}
@keyframes textaniLeft {
  0%{transform:rotate(-23deg) translate(0,0)}
  100%{transform:rotate(-23deg) translate(-130%,0)}
}

#profile .text1{
  position: absolute;
  left: 0;
  top:8%;
}

/* publishing */
#container > div#publishing{
  background-color: #ECE7E3;
}
/* 뒷배경 */
#publishing .cont_inner{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background: url(../images/workBG.png) no-repeat right top;
  background-size:100%;
  overflow: hidden;
}
#publishing .cont_inner> h2{
  font-family: MabryPro-medium;
  font-size:48px;
  margin-top: 11.328vh;
  margin-bottom: 4.167vh;
}

.waviy>span{
  position: relative;
  display: inline-block;
  animation: waivy 2s infinite ease-in-out;
  animation-delay: calc(0.2s * var(--i));
}

.waviy2>span{
  position: relative;
  display: inline-block;
  animation: waivy 2s infinite ease-in-out;
  animation-delay: calc(0.2s * var(--k));
}

@keyframes waivy {
  0%,40%,100%{transform: translateY(0);}
  20%{transform:translateY(-20px);}
}

/* 프로젝트 가로 스크롤 기차 */
#publishing .page3_inner{
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}
/* 각 프로젝트 div */
#publishing .page3_inner>div {
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid green;
  /* justify-content: center */
}
div.mockup{
  min-width: 320px;
  width: 37.344vw;
  /* width: 61.198vw; */
  /* height: 29.688vw;
  min-height: 200px; */
  margin-bottom: 32px;

}
div.mockup>img{
  width: 100%;
}
div.work_detail{
  width: 60vw;
  min-width: 510px;
}
div.work_detail>h3{
  font-family: MabryPro-regular;
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: -0.01em;
}
div.work_detail > dl{
  display: flex;
  /* justify-content: space-between; */
  gap: 53px;
}
div.work_detail > dl:nth-of-type(2){
  margin: 16px 0;
  gap: 84px;
}
div.work_detail > dl>dt{
  position: relative;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  white-space: nowrap;
}

div.work_detail > dl>dd{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

div.work_detail > dl:nth-of-type(2) ul {
  list-style:disc;
  list-style-position:inside
}
/* 해쉬태그 */
ul.hashtag{
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 16px;
}
ul.hashtag>li{
  padding: 5px 14px ;
  background-color: #fff;
  color: #4CA9F8;
  border-radius: 50px;
  border: 1px solid #4CA9F8;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
ul.viewmore{
  display: flex;
  justify-content: center;
  gap: 16px;
}
ul.viewmore>li{
  background-color: #B2D9FA;
  border-radius: 50px;
}
ul.viewmore>li>a{
  font-family:  MabryPro-medium;
  padding: 10px 2.500vw;
  display: block;
  color: #4CA9F8;
  border-radius: 50px;
  line-height: 24px;
  white-space: nowrap;
}
ul.viewmore>li:hover>a{
  background-color: #4CA9F8;
  color: #fff;
}


/* pagination */
ul.pagination {
  display: flex;
  margin: 0 auto;
  margin-top: 3.125vw;
}
/* ul.pagination {
  position: absolute;
  left: 50%;
  z-index: 20;
  transform: translateX(-50%);
  bottom: 10%;
  display: flex;
} */
ul.pagination>li{
  text-indent: -9999px;
  overflow: hidden;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #C1C1C1;
  cursor: pointer;
  margin-right: 24px;
}
ul.pagination>li.on{
  background-color: #333;
}

/* verification*/
div.verification{
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 30;
  transform: translateX(100%);
  transition: transform 0.6s ease;
}
div.verification.on{
  transform: translateX(0);
}
div.verification>h2{
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 46px;
  font-family: MabryPro-medium;
  width: 72.917vw;
  margin: 0 auto;
  white-space: nowrap;
}
div.verification>h2>a{
  display: block;
  width: 43px;
  height: 32px;
}
div.verification>h2>a>img{
  vertical-align: top;
}


/* tab menu */
ul.tabMenu {
  display: flex;
  width: 72.917vw;
  gap: 8px;
  font-family:MabryPro-regular;
  font-size: 20px;
  margin: 32px auto 16px;
}
ul.tabMenu >li{
  line-height: 30px;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
}
ul.tabMenu >li.on{
  background-color: #FDEE9C;
}
div.verification >div.veri_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 72.917vw;
  height: 54.630vh;
  margin: 0 auto;
  border-radius: 100px;
  background: url(../images/blurBG.png) no-repeat center center;
  background-size: cover;
}
ul.veri_result {
  width: 80%;
  max-width: 833px;
}
ul.veri_result>li{
  width: 100%;
  display: none;
}
ul.veri_result>li.on{
  display: block;
}
ul.veri_result img{
  display: block;
  width: 100%;
}
div.veri_container>p{
  width: 80%;
  text-align: center;
  font-size: 1rem;
  letter-spacing: -0.02em;
}

/* design */
#container > div#design{
  position: relative;
  background-color: #ECE7E3;
}

.designBG{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
  border-radius: 1500px;
  transition: 1s ease-out;
  background: rgb(236,231,227);
  background: linear-gradient(0deg, rgba(236,231,227,1) 13%, rgba(127,205,237,1) 100%);
  opacity: 0.6;
}
.designBG.on{
  opacity: 1;
  border-radius: 0px;
  width: max(200vw,200vh);
  height: max(200vw,200vh);
}
#design .cont_inner{
  display: flex;
  /* width: 72.917vw; */
  /* max-width: 1400px; */
  flex-direction: column;
  justify-content: flex-end;
}

#design h2{
  font-family: MabryPro-medium;
  font-size:48px;
  margin-bottom: 4.167vh;
}
div.transBG{
  position: relative;
  /* max-width:1024px; */
  width: 100%;
  height: 70vh;
  background-color: #ffffff71;
  /* background: #ffffff71 url(../images/app_mockup.png) no-repeat right bottom; */
  border-top-left-radius: 78px;
  border-top-right-radius: 78px;
  padding: 2.58vh;
  background-size: 70%;
  transform: translateY(10%);
  opacity: 0;
  transition: all 0.7s cubic-bezier(.25,.75,.5,1.25) 0.7s;
}
div.transBG.on{
  transform: translateY(0);
  opacity: 1;
}
div.transBG>h3{
  font-family: MabryPro-regular;
  font-size: 36px;
  letter-spacing: -0.02rem;
  text-align: center;
  margin-bottom: 8px;
}
div.transBG>p{
  font-size: 18px;
  letter-spacing: -0.02rem;
  text-align: center;
}

 .design_detail{
  width: 70%;
}
div.design_detail>dl>dt{
  font-family: MabryPro-regular;
  font-size: 20px;
  line-height: 30px;
  margin-top: 4.630vh;
  margin-bottom: 1.222vh;
}
div.design_detail>dl>dd{
  font-size: 16px;
  line-height: 24px;
}
.design_detail> ul.hashtag{
  margin-top: 24px;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}
.design_detail>ul.viewmore{
  position: relative;
  z-index: 10;
  width: 100%;
  text-align: center;
  justify-content: flex-start;
}
div.app_mockup{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40vw;
  min-width: 500px;
  z-index: -1;
}

/* 팝업창 */
/* #design .popupBG{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: #000000dd;
  display: none;
}
#design .popupBG.on{
  display: block;
}
.popupBG > .popup_container{
  position: fixed;
  left: 50%;
  top: 120px;
  transform: translateX(-50%);
  max-width: 750px;
  height: calc(100vh - 120px);
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
.popupBG > .popup_container>.pop_title{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.pop_title> p{
  color: #ffffff77;
  font-size:1.125rem ;
}
.pop_title> p>span{
  font-weight: 600;
}
.pop_title >a.pop_close_btn{
  filter: invert();
  padding: 12px;
}
.popupBG > .popup_container>.pop_img{
  width: 100%;
  height: 85%;
}
.popupBG > .popup_container>.pop_img>img{
  width: 100%;
} */

/* contact */
div#contact{
  background: #ECE7E3;
}

/* 동그라미 배경 */
#contact .circle{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  border-radius: 50%;
  /* transition: transform 0.5s ease-in-out; */
}
.bgcircle_s.on{
  animation: circleAni2 5s ease-in-out both;
}
.bgcircle_m.on{
  animation: circleAni 2s ease-in-out 0.5s both;
}
.bgcircle_l.on{
  animation: circleAni 2s ease-in-out 1s both;
}
@keyframes circleAni{
  0%{transform: translate(-50%, -50%) scale(0);}
  50%{transform:translate(-50%, -50%) scale(1);}
}
@keyframes circleAni2{
  0%{transform: translate(-50%, -50%) scale(0);}
  20%{transform:translate(-50%, -50%) scale(1);}
  90%{transform:translate(-50%, -50%) scale(5)}
  100%{transform:translate(-50%, -50%) scale(5)}
}
.bgcircle_s{
  width: 36.302vw;
  height: 36.302vw;
  background-color: #FCE775;
  opacity: 0.59;
  z-index: 10;
  transform: scale(5);
}
.bgcircle_m{
  width: 57.292vw;
  height: 57.292vw;
  background-color: #FFDF76;
  z-index: 8;
}
.bgcircle_l{
  width:81.042vw;
  height:81.042vw;
  background-color: #FFEB84;
  opacity: 0.46;
  z-index: 7;
}
#contact .contactme{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
  z-index: 20;
}
.contactme > p {
  font-family: MabryPro-medium;
  font-size: 66px;
}
.contactme > ul{
  display: flex;
  column-gap: 32px;
}
.contactme > ul>li{
  padding: 5px 14px;
  font-family: MabryPro-regular;
  font-size: 1.125rem;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #4CA9F8;
  transition: 0.3s;
}
.contactme > ul>li>a{
  display: block;
  line-height: 30px;
  padding-left: 30px;
  color: #4CA9F8;
}
.contactme > ul>li.email > a{
  background: url(../images/eva_email-outline.svg) no-repeat 0 center;
}
.contactme > ul>li.email:hover > a{
  background: url(../images/email_w.svg) no-repeat 0 center;
}
.contactme > ul>li.phone > a {
  background: url(../images/solar_phone-bold.svg) no-repeat 0 center;
}
.contactme > ul>li.phone:hover > a {
  background: url(../images/phone_w.svg) no-repeat 0 center;
}
.contactme > ul>li.github > a {
  background: url(../images/uil_github.svg) no-repeat 0 center;
}
.contactme > ul>li.github:hover > a {
  background: url(../images/uil_github_w.svg) no-repeat 0 center;
}
.contactme > ul>li:hover{
  background-color: #4CA9F8;
}
.contactme > ul>li:hover >a{
  color: #fff;
}

#contact>section>p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15.185vh;
  font-size: 14px;
  text-align: center;
  z-index: 20;
}
#contact>section>address{
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10vh;
  color: #A0A0A0;
  z-index: 20;
}

}